.header {
  position: sticky;
  padding: 30px 0;
  z-index: 10;
  top: 0;
  background-color: rgba(158, 141, 119, 0.7);
  backdrop-filter: blur(2px);
  // box-shadow: 3px -36px 14px -18px rgba(37, 53, 50, 1) inset;

  &__mobile-btn {
    background-color: transparent;
    height: 20px;
    width: 30px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    span {
      width: 30px;
      background-color: #fff;
      height: 2px;
      display: block;
      position: relative;
      transition: 0.3s all;
    }
    &.active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: -47%;
          transform: rotate(315deg);
        }
      }
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: 0.3s all;
  &__item {
    display: flex;
  }
  &__link {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s all;
    position: relative;
    &::after {
      content: '';
      opacity: 0;
      width: 0;
      height: 2px;
      position: absolute;
      background-color: red;
      bottom: 0px;
      left: 0;
      transition: 0.3s all;
    }
    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  @include _mobile {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 11;
    padding: 20px 0;
    max-width: 280px;
    background-color: rgba(158, 141, 119, 0.9);
    backdrop-filter: blur(2px);
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
    }
  }
}
